# Archivos y carpetas específicas de Eclipse
/.metadata/
/.remote/
*/.log
/.recommenders/
/.settings/
/.classpath
/.project
/*.iml
/.idea/
/bin/
/target/
/out/
/tmp/

# Archivos específicos del workspace de Eclipse
.eclipse/
/workspace/
/workspaces/
/.snapshots/

# Archivos de compilación de Java
*.class
*.jar
*.war
*.ear

# Archivos de configuración de Maven
/logs/
*.log
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Archivos de configuración de Tomcat
*.xml
*.json
*~
/conf/Catalina/localhost/*

# Archivos específicos de MySQL
*.sql
*.log
/data/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de respaldo y temporales
*.swp
*~
*.bak
*.tmp
*.orig
*.rej